@import 'partials/normalize.css';

* {
  box-sizing: border-box;
}

/* General elements style  */
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* Layouts  */
.wrapper {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%;
}

/* Header section  */
.header,
.footer {
  background: #333333;
  color: #cccccc;
  padding: 20px;
}

.header {
}

.logo {
  width: 150px;
  height: auto;
}

/* Body/Content section  */

/* Footer section  */
